<!DOCTYPE html>


<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{{title}}</title>
        <meta name="description" content="{{description}}" />
        <meta name="keywords" content="{{keywords}}" />

        <meta property="og:title" content="{{title}}" />
        <meta property="og:description" content="{{description}}" />
        <meta property="og:image" content="{{image}}" />
        <meta name="twitter:image:alt" content="{{imageAlt}}" />
        <meta property="og:url" content="{{url}}" />

        <script src="https://kit.fontawesome.com/533946ae6f.js" crossorigin="anonymous"></script>
        <link rel="icon" href="/assets/images/favicon.ico" />
        <link rel="stylesheet" href="/assets/style.css" />
    </head>


    <body>
        <header class="global-header">
            <div class="brand-container">
                <img
                    src="/assets/images/logo.png"
                    alt="Greenhouse product logo"
                    class="brand-logo"
                />
                
                <h1 class="brand-name">Greenhouse</h1>
            </div>
        </header>


        {{{ body }}}


        <footer class="global-footer">
            <small>Copyright © 2025 Clementine Technology Solutions LLC. All Rights Reserved.</small>
        </footer>
    </body>
</html>
